@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700;900&display=swap');

:root {
  --primary: #5A4AF4;
  --secondary: #1EA5FC;
  --tertary: #B66DFF;
  --success: #05CE91;
  --error: #FF6161;
  --warning: #FFAD49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-image: url(./assets/img/bg.png);
  background-color: #121829;
  background-size: 100%;
  background-position: 50% -160px;
  background-repeat: repeat-y;
  overflow-x: hidden;
}

a {
  transition: .2s ease;
  text-decoration: none;
}

/* Container */
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15rem;
}

/* Header */
header {
  width: 100%;
  background-color: #12182A;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  background-color: #12182A;
}

header nav ul.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 432px;
  list-style: none;
  font-weight: 600;
}

header nav ul.nav-ul a {
  color: #A8AEBF;
}

header nav ul.nav-ul a:hover {
  color: var(--primary);
}

header nav ul.nav-ul a#suggest {
  display: flex;
}

header nav ul.nav-ul a#suggest:hover svg {
  stroke: var(--primary);
}

header nav ul.nav-ul svg.arrow:hover {
  stroke: var(--primary);
}

header nav button.hamburger {
  background-color: transparent;
  color: #A8AEBF;
  border: none;
  outline: none;
  font-size: 1.7rem;
  display: none;
}

/* SVGS */
header svg.icon {
  width: 50px;
  height: 50px;
}

header svg.arrow {
  display: block;
  stroke: #A8AEBF;
  margin-left: .5rem;
}

main svg.search {
  display: block;
  stroke: #5e636e;
  fill: none;
  width: 24px;
  height: 24px;
  margin: 0 .5rem 0 1rem;
}

/* Main */
.main-header {
  margin-top: 80px;
  max-width: 36.75rem;
}

.main-header h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
}

.main-header p {
  color: #8E95A9;
}

.main-header p a,
footer ul li a {
  color: var(--primary);
  opacity: .9;
}

.main-header p a:hover,
footer ul li a:hover {
  opacity: 1;
}

.main-header .input-area {
  width: 90%;
  height: 64px;
  margin-top: 1.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11192C;
}

.main-header .input-area.active {
  border: 2px solid var(--primary);
}

.main-header input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.1rem;
  color: #8E95A9;
  padding-left: .6rem;
}

.main-header input::placeholder {
  color: #475069;
  font-size: 1rem;
}

.main-movies {
  margin: 5rem 0;
}

.main-movies .title {
  display: flex;
  align-items: baseline;
  gap: .5rem;
  margin-bottom: 2rem;
}

.main-movies h3 {
  font-weight: 600;
  font-size: 2rem;
  color: #767E94;
}

.main-movies small {
  font-weight: normal;
  font-size: 1.1rem;
  color: #767E94;
}

/* Main Movies */
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.movies .movie-card {
  width: 17.62rem;
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  cursor: pointer;
  position: relative;
}

.movies .movie-card .image img {
  width: 16.62rem;
  height: 25rem;
  border-radius: 8px;
  transition: 0.3s ease;
  transform-origin: center;
}

.movies .movie-card:hover .image img {
  transform: scale(1.06);
}

.movies .movie-card:hover h4 {
  margin-top: 10px;
}

.movies .movie-card h4 {
  padding: 6px 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.movie-card .rating {
  color: var(--warning);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  top: 16px;
  left: 16px;
  z-index: 2;
}

.movie-card .rating svg,
.movie-info .rating svg {
  stroke: var(--warning);
}

/* Footer */

footer {
  background-color: rgba(18, 25, 43, 0.7);
  color: #8E95A9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0;
  margin-top: 5rem;
}

footer .about {
  text-align: center;
  position: relative;
}

footer .about p {
  margin: .5rem 0;
}

footer .about p img {
  position: absolute;
  left: 70%;
  bottom: 4px;
  width: 2rem;
  height: 2rem;
}

footer ul li {
  line-height: 2rem;
  list-style-type: none;
}

footer ul a {
  text-decoration: none;
}

/* Media 1200px */
@media screen and (max-width: 1440px) {
  .container {
    padding: 0 80px;
  }
}

/* Media 1024px */

@media screen and (max-width: 1024px) {
  .movies .movie-card {
    width: 15.8rem;
    height: 27rem;
  }

  .movies .movie-card .image img {
    width: 14.7rem;
    height: 22.5rem;
  }
}

/* Media 700px */

@media screen and (max-width: 700px) {
  html {
    font-size: 93.75%;
  }

  .container {
    padding: 0 60px;
  }

  header nav {
    width: 100%;
  }

  header nav ul.nav-ul {
    display: none;
  }

  header nav ul.nav-ul.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    padding: 1rem 0;
  }

  header nav button.hamburger {
    display: block;
  }

  .main-header {
    text-align: center;
    margin: 3rem;
  }

  .input-area {
    margin: 0 auto;
  }

  .movies .movie-card {
    width: 15.8rem;
    height: 27rem;
  }

  .movies .movie-card .image img {
    width: 14.7rem;
    height: 22.5rem;
  }
}

/* Media 425px */

@media screen and (max-width: 425px) {
  html {
    font-size: 87.5%;
  }

  .container {
    padding: 0 30px;
  }

  .main-header {
    margin: 20px;
  }

  .movies {
    justify-content: center;
  }

  footer {
    padding: 20px 30px
  }
}

/* --------------------------------------------------------------------*/
/* Movie Info CSS */
/* Main */
.movie-info main {
  margin: 3.5rem 0 0 0;
}

.movie-info main .banner {
  width: 1200px;
  margin: 0 auto 120px auto;
  position: relative;
}

.movie-info main .banner img {
  border-radius: 40px;
}

.movie-info main .banner .title {
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(10px);
  width: 560px;
  height: 140px;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 80px;
  top: 408px;
}

.movie-info main .banner h3 {
  font-size: 2rem;
  color: #EBEEF5;
  font-weight: 600;
}

.movie-info main .infos {
  margin: 0 190px;
  display: flex;
  gap: 80px;
}

.movie-info main .infos img {
  width: 480px;
  height: 720px;
  border-radius: 24px;
}

.movie-info main .infos h4#title {
  color: #EBEEF5;
  font-weight: 700;
  font-size: 1.5rem;
}

.movie-info main .infos p {
  color: #8E95A9;
  font-size: 20px;
  line-height: 32px;
  margin: 24px 0;
}

.movie-info main .rating {
  color: var(--warning);
  width: 85px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 24px;
}

.movie-info .info {
  margin: 15px 0;
}

.movie-info .info h5 {
  color: #767E94;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 8px;
}

.movie-info .info h4 {
  color: #C3C8D4;
  font-size: 20px;
  font-weight: normal;
}